body{
  background-color: #F0F0CB;
  margin: 0px;
}
.top-container {
  background-color: #476072;
  padding: 10px 100px 5px ;
  width: 100%;
  position: fixed;
}
a {
    text-decoration: none !important;
}
#mozdiv2 {
  word-spacing: 2em;
}
.top-container {
  background-color: #476072;
  padding: 5px 100px 5px ;
  width: 100%;
  position: fixed;
}
* {box-sizing: border-box;}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*.top-container {
  overflow: hidden;
  background-color: #476072;
}*/

.top-container a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top-container a:hover {
  background-color: #ddd;
  color: black;
}

.top-container a.active {
  background-color: #2196F3;
  color: white;
}

.top-container .search-container {
  float: right;
}

.top-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.top-container .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #476072;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.top-container .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .top-container .search-container {
    float: none;
  }
  .top-container a, .top-container input[type=text], .top-container .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .top-container input[type=text] {
    border: 1px solid #ccc;
  }
}
.bottom-container {
  background-color: #242729;
width: 100%;
height: 400px;
color: white;
//word-spacing: 2em;
//margin-left: 260px;
//border: solid 20px;
}
h2{
  //color: white;
  display: inline;


}
.about-us{
  //margin: 50px auto auto 20px;
  margin-left: 10px;
display: block;
}
.about{
  margin-top: 10px;

}
.folow-me{
margin: auto auto auto 900px;
margin-top: 0px;
display: block;
}
.copyright{
  margin: auto auto auto 600px;
  margin-top: 120px;
}
.Contact-us{
  margin-top: 200px;
  //margin-bottom: 200px;
  margin-left: 10px;

}
.contact{
  margin-top: 10px;
}
